@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: Arial, Helvetica, sans-serif;
}

@layer base {
  :root {
    --radius: 0.5rem;
    --sidebar-background: 0 0% 98%;
    --sidebar-foreground: 240 5.3% 26.1%;
    --sidebar-primary: 240 5.9% 10%;
    --sidebar-primary-foreground: 0 0% 98%;
    --sidebar-accent: 240 4.8% 95.9%;
    --sidebar-accent-foreground: 240 5.9% 10%;
    --sidebar-border: 220 13% 91%;
    --sidebar-ring: 217.2 91.2% 59.8%;
  }

  .dark {
    --sidebar-background: 240 5.9% 10%;
    --sidebar-foreground: 240 4.8% 95.9%;
    --sidebar-primary: 224.3 76.3% 48%;
    --sidebar-primary-foreground: 0 0% 100%;
    --sidebar-accent: 240 3.7% 15.9%;
    --sidebar-accent-foreground: 240 4.8% 95.9%;
    --sidebar-border: 240 3.7% 15.9%;
    --sidebar-ring: 217.2 91.2% 59.8%;
  }
}


.bg-primary {
  background-color: #002B5B;
}

.bg-gris {
  background-color: #D1D5DB;
}


.text-primary {
  color: #002B5B;
}

.text-primary-2 {
  color: #17C10E;
}

.text-primary-3 {
  color: #6D0B0B;
}

.text-primary-4 {
  color: #024C54;
}

.text-primary-5 {
  color: #A95705;
}

.text-primary-6 {
  color: #480590;
}

.text-primary-7 {
  color: #B9B305;
}

.text-primary-8 {
  color: #3b0764;
}

.shadow-blue {
  box-shadow: 0 4px 6px rgba(0, 43, 91, 0.5), 0 1px 3px rgba(0, 43, 91, 0.1);
}



.bg-sidebar {
  background-color: #002B5B !important;
}

@media print {
  .print-scrollarea {
    height: 100% !important;
    /* Développe la hauteur pour inclure tout le contenu */
    overflow: visible !important;
    /* Désactive le défilement */
  }
}